@model DonateNeedyDesignNew.Models.MetaData.clsRegister
@{
    ViewBag.Title = "register";
}

<link href="~/Content/Home/style.css" rel="stylesheet" />

<div class="ed_toppadder60 ed_bottompadder60">
    <div class="container">
        <div class="row">
            <div class="ed_heading_top ed_bottompadder40">
                <h3>SignUp</h3>
            </div>
            @if (TempData["msg1"] != null)
            {
                <label style="color:#1e4270;width:100%;text-align:center;">@TempData["msg1"]</label>
            }
            else if (TempData["msg2"] != null)
            {
                <label style="color:red;width:100%;text-align:center;">@TempData["msg2"]</label>
            }


            <form class="ed_contact_form ed_toppadder10" method="post" action="/Home/register" enctype="multipart/form-data">

                <div class="col-xs-12 col-lg-12">
                    <div class="col-md-6">
                        <div class="form-group row" style="margin-bottom:0px;">
                            <div class="col-md-3">
                                <label class="control-label">Title <span style="color:#ff0000;">*</span></label>
                                <select name="Title" id="ddlTitle" class="form-control" autofocus required></select>
                            </div>
                            <div class="col-md-9">
                                <label class="control-label">First Name <span style="color:#ff0000;">*</span></label>
                                @Html.TextBoxFor(r => r.firstName, new { type = "text", pattern = "^[a-zA-Z]+$", @class = "form-control", required = "required", placeholder = "Enter First Name" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Middle Name </label>
                            @Html.TextBoxFor(r => r.middleName, new { type = "text", pattern = "^[a-zA-Z]+$", @class = "form-control", placeholder = "Enter Middle Name" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Last Name <span style="color:#ff0000;">*</span></label>
                            @Html.TextBoxFor(r => r.lastName, new { type = "text", required = "required", pattern = "^[a-zA-Z]+$", @class = "form-control", placeholder = "Enter Last Name" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email <span style="color:#ff0000;">*</span></label>
                            @Html.TextBoxFor(m => m.emailID, new { id = "email", type = "email", required = "required", @class = "form-control", placeholder = "Enter Email" })
                            <div id="email_error"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">UserName <span style="color:#ff0000;">*</span></label>
                            @Html.TextBoxFor(r => r.userName, new { id = "username", type = "text", required = "required", @class = "form-control", placeholder = "Enter UserName" })
                            <div id="username_error"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password <span style="color:#ff0000;">*</span></label>
                            @Html.TextBoxFor(m => m.Password, new { id = "Password", type = "password", required = "required", @class = "form-control", pattern = ".{6,}", placeholder = "Enter Password" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Confirm Password <span style="color:#ff0000;">*</span></label>
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { id = "ConfirmPassword", type = "password", required = "required", @class = "form-control", pattern = ".{6,}", placeholder = "Enter Confirm Password" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Phone Number <span style="color:#ff0000;">*</span></label>
                            @Html.TextBoxFor(m => m.PhoneNumber, new { type = "text", required = "required", @class = "form-control", placeholder = "Enter Phone Number" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Address <span style="color:#ff0000;">*</span></label>
                            @Html.TextBoxFor(m => m.Address, new { type = "text", required = "required", @class = "form-control", placeholder = "Enter Address" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Country <span style="color:#ff0000;">*</span></label>
                            <select name="Country" id="ddlCountry" class="form-control" required></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">State <span style="color:#ff0000;">*</span></label>
                            <select name="State" id="ddlStateINFO" class="form-control" required></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">City <span style="color:#ff0000;">*</span></label>
                            <select name="city" id="ddlCityINFO" class="form-control" required></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Pincode <span style="color:#ff0000;">*</span></label>
                            @Html.TextBoxFor(m => m.Pincode, new { type = "text", required = "required", pattern = "[0-9]{6}", @class = "form-control", placeholder = "Enter Pincode" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Upload Image </label>
                            <input type="file" id="photo" placeholder="Upload Photo" onchange="ValidateSize(this)" name="File" accept="image/gif,image/jpeg,.crt,.pem" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="donatebutton Donate-Now pull-right" style="outline:none;">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/Scripts/Home/register.js"></script>



