@model UniversalTool.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}  
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading" style="background-color :#4bd087">
                        <h3 class="panel-title" style="color:white ">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                @using (Html.BeginForm())
                {

                                <div>@Html.LabelFor(u=>u.userName)</div>
                                <div>@Html.TextBoxFor(u => u.userName, new { style = "border:2px solid #456879;border-radius:10px;height: 22px;width: 230px;" })</div>
                                <div>@Html.ValidationMessageFor(u=>u.userName)</div>
  
                                <div>@Html.LabelFor(u=>u.password)</div>
                                <div> @Html.PasswordFor(u => u.password, new { style = "border:2px solid #456879;border-radius:10px;height: 22px;width: 230px;" })</div>
                                <div>@Html.ValidationMessageFor(u=>u.password)</div>
                                <!-- Change this to a button or input when using this as a form -->
                    
                     <div>@Html.LabelFor(u => u.RememberMe) <input type="checkbox"></div>
                    
                     <br />
                                <input type="submit" class="btn btn-lg btn-circle btn-block btn-success" style="background-color:ActiveBorder ActiveCaption" value="Login" >
                
                          <div>@Html.ValidationSummary()</div>

                }

                </div>
        </div>
        </div>
         </div>
        </div>

